body {
  /* If the user cannot load the Arial font, the sans-serif font is used */
  font-family: Arial, sans-serif;
  background-color: #CABAA3;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

.ingredients-list {
  list-style: square inside;
}

ol {
  list-style: circle;
}

header > img {
  width: 100px;
}

ul li a {
  text-decoration: none;
  color: inherit;
}
